@import "jumbotron.css";
body {
    margin: 0;
    padding: 0;
    font-family: 'Martel Sans', sans-serif;
}

.navbar, #footer {
    background-color: #ebedf0;
}

a {
    text-transform: uppercase;
    position: relative;
    color: rgb(84, 97, 88);
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

h2 {
    font-size: 50px;
    font-family: 'Capriola', sans-serif;
    text-align: center;
    padding-bottom: 40px;
}

#logo {
    float: left;
}

.container {
    padding-top: 70px;
    margin-top: -70px;
}

.textArea {
    margin-bottom: 100px;}

.media{
    width: 65%;
    margin: auto;
    margin-bottom: 15px;
    padding: 15px;
}

.portfolio-img {
    width: 20%;
    height: auto;
}

.footer {
    height: auto;
    left: 0;
    right: 0;
    margin-top: 50px;
    height: 200px;
    line-height: 150px;
}

.divider {
    left: 0;
    right: 0;
    width: 100%;
    height: 450px;
}

.img1 {
    background-image: url("../img/idea.jpg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.img2 {
    background-image: url("../img/road.jpeg");
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 400px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
  }
  
  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }

  @media (max-width: 1200px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
    }
  }